DATABASE_URL="mysql://root:password@localhost:3306/sheva_platform"
MYSQL_ODBC_CONNECTION_STRING="DSN=MyMysql93Source;UID=root;PWD=password;DATABASE=sheva_platform"
MYSQL_ODBC_SCHEMA="sheva_platform"
PORT=4003
NEXT_PUBLIC_API_URL="http://localhost:4003/api"
